body {
 background: white;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


header {
 border: 1rem solid black;
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
 align-items: center;
 min-height: 150px;
}


.brand {
 font-size: 5rem;
 align-items: ;
}

#login {
 display: inline;
}

#cart {
 display: inline;
}