body {
 background: rgb(255, 255, 255);
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


header {
 border: 1rem solid black;
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
 align-items: center;
 min-height: 150px;
}


.brand {
 font-size: 5rem;
 font-family: Georgia, 'Times New Roman', Times, serif;
}


ul li {
 display: inline-block;
}

.header2 {
 margin-top: 0;
 border: 0.5rem solid red;
 font-size: 2rem;
 display: flex;
 flex-direction: row;
 justify-content: center;
 gap: 11rem;
}

.grid {
 display: grid;
 justify-content: center;
 grid-template-columns: 100px 1fr 1fr 1fr 100px;
 grid-template-rows: 1fr 450px 450px;
 border: 2px solid blue;
}

.pic {
 max-width: 1300px;
 justify-content: center;
 grid-column-start: 3;
}

.smallerpic {
 grid-column-start: 3;
 display: grid;
 grid-template-columns: 1fr 1fr
}

.sp1 {
 grid-column-start: 1;
 border: 0.5rem solid brown;
 max-height: 450px;
}

.caption {
 font-size: 2rem;
 grid-row-start: 2;
 text-align: center;
}

.sp2 {
 grid-column-start: 2;
 border: 0.5rem solid green;
 max-height: 450px;
}

.caption2 {
 font-size: 2rem;
 grid-row-start: 2;
 text-align: center;
}